body { font-family: Arial; background: #f4f4f4; margin:0; }

.navbar {
    background: black; color: white;
    padding: 10px; display:flex;
    justify-content: space-between;
}

.container { width: 80%; margin: 20px auto; }

.card {
    background: white; padding: 15px;
    margin-bottom: 20px;
}

input, select {
    display:block; width:100%;
    margin:10px 0; padding:8px;
}

button {
    padding:10px;
    background: blue;
    color:white; border:none;
}

table {
    width:100%; background:white;
    border-collapse: collapse;
}

td, th {
    border:1px solid #ddd;
    padding:10px;
}

.center {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.error { color:red; }